
<button mat-flat-button class="w-100 my-2" (click)="openCreateNewPostDialog()">+</button>

<mat-tab-group>
  <mat-tab label="GLOBAL">
  </mat-tab>
  <mat-tab label="FOLLOWERS"></mat-tab>
</mat-tab-group>

<div *ngFor="let i of posts" class="card p-2 my-3" role="button" [routerLink]="'/post/'+i.id">

  <div class="d-flex justify-content-start">
    <img class="avatar" [src]="i.user.image" alt="">
    <div class="align-self-center mx-2">
      <h5 class="m-0"><b>{{i.user.fullName}}</b></h5>
      <h5 class="text-gray">{{i.creationTime | date: 'short'}}</h5>
    </div>
  </div>

  <img class="timeLineImage" [src]="i.image">

  <p class="text-gray mt-2"><b class="text-dark">{{i.user.fullName}}:</b>{{i.text}}</p>

  <div class="">
    <span class="rounded w-auto p-1 text-white" [ngClass]="i.isLikedByCurrentUser ? 'bg-primary': 'bg-dark'">{{i.likeCount}} LIKES</span>
  </div>

</div>
