
<button mat-flat-button class="w-100 my-2" (click)="openCreateNewPostDialog()">+</button>

<mat-tab-group>
  <mat-tab label="GLOBAL">
  </mat-tab>
  <mat-tab label="FOLLOWERS"></mat-tab>
</mat-tab-group>

<div *ngFor="let i of [0,0,0]" class="card p-2 my-3">

  <div class="d-flex justify-content-start">
    <img class="avatar" src="/assets/authwallpaper.png" alt="">
    <div class="align-self-center mx-2">
      <h5 class="m-0"><b>Name Of User</b></h5>
      <h5 class="text-gray">date</h5>
    </div>
  </div>

  <img class="timeLineImage" src="/assets/authwallpaper.png">

  <p class="text-gray mt-2"><b class="text-dark">Name Of User:</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, aspernatur autem consequuntur
    dignissimos, enim facere facilis maiores minima mollitia nostrum odio porro, quia quod rem sunt unde vel?
    Laboriosam, suscipit.</p>

  <div class="">
    <span class="rounded bg-dark w-auto p-1 text-white">2 LIKES</span>

  </div>

</div>
