<div *ngIf="post" class="card p-2 my-3">

  <div class="d-flex justify-content-start">
    <img class="avatar" [src]="post.user.image" alt="">
    <div class="align-self-center mx-2">
      <h5 class="m-0"><b>{{post.user.fullName}}</b></h5>
      <h5 class="text-gray">{{post.creationTime | date: 'short'}}</h5>
    </div>
  </div>

  <img class="timeLineImage" [src]="post.image">

  <p class="text-gray mt-2"><b class="text-dark">{{post.user.fullName}}: </b>{{post.text}}</p>

  <div class="">
    <span class="rounded w-auto p-1 text-white" [ngClass]="post.isLikedByCurrentUser ? 'bg-primary': 'bg-dark'"
          (click)="like()" role="button">{{post.likeCount}} LIKES</span>
  </div>

  <mat-divider class="my-3"></mat-divider>
  <h5>Comments</h5>

  <div class="row">
    <mat-form-field class="col-9" appearance="outline">
      <input matInput [(ngModel)]="commentInput.text">
    </mat-form-field>
    <button class="col-2 mt-2" style="height: 40px" mat-button (click)="comment()">send</button>
  </div>


  <div *ngFor="let i of post.comments" class="card p-3 mt-2">
    <div class="d-flex justify-content-start">
      <img class="avatar" [src]="i.creatorUser.image" alt="">
      <div class="align-self-center mx-2">
        <h5 class="m-0"><b>{{i.creatorUser.fullName}}</b></h5>
        <h5 class="text-gray">{{i.creationTime | date: 'short'}}</h5>
      </div>
    </div>

    <p class="text-gray">{{i.text}}</p>

  </div>


</div>
