<h3>Create New Post</h3>
<div class="d-flex justify-content-center">
  <input #Image type="file" [hidden]="true" (change)="upload($event)">
  <img *ngIf="input.image" class="rounded" [src]="input.image" alt="" style="max-height: 100px">
  <button *ngIf="!input.image" mat-stroked-button style="height: 100px" (click)="Image.click()">Upload</button>

</div>

<mat-form-field class="w-100 mt-3" appearance="outline">
  <input matInput style="overflow-x: auto" [(ngModel)]="input.text" name="text">
</mat-form-field>

<button mat-stroked-button class="w-100" (click)="createPost()">Publish</button>


