<div class="d-block" style="min-height: 100vh;background: #eeee">
  <div class="" style="max-width: 500px; margin-left: auto; margin-right: auto">
    <div class="bg-white d-flex justify-content-between w-100 p-2" style="height: 56px">
      <h1 class="mt-1" [routerLink]="'/'">NRUN</h1>
      <img class="avatar" [src]="authService.currentUserValue.image" alt=""
           role="button"
           [routerLink]="'profile/'+authService.currentUserValue.id">
    </div>

    <div class=" p-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



